.googlien {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15vh; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 9vh; }

.blue {
  color: #4285F4; }

.red {
  color: #DB4437; }

.yellow {
  color: #F4B400; }

.green {
  color: #0F9D58; }

.violet {
  color: #9041F8; }

.cv {
  margin-right: 15px; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.lien {
  width: 45px;
  height: 45px;
  border-radius: 50%; }

.search {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.dropdown-container {
  position: relative;
  background: none;
  padding: .75rem;
  width: 55vh;
  height: auto;
  border-radius: 2.5rem;
  border: solid 1px black; }

.dropdown-container ul {
  position: absolute;
  max-height: 0px;
  overflow: hidden;
  transition: all 10ms; }

.dropdown-container:hover ul {
  max-height: 400px;
  list-style: none;
  background: #FFFFFF;
  padding: .75rem;
  width: 52vh;
  height: auto;
  border-radius: 2.5rem;
  border: solid 1px black; }

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px; }

.github {
  margin-right: 50px; }

@media screen and (max-width: 768px) {
  .search {
    display: flex;
    flex-direction: row;
    justify-content: center; } }
