$w:#FFFFFF ;
.search{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropdown-container{
  position:relative;
  background: none;
  padding: .75rem;
  width: 55vh;
  height: auto;
  border-radius: 2.5rem;
  border: solid 1px black;
}
.dropdown-container ul{
  position: absolute;
  max-height: 0px;
  overflow: hidden;
  transition: all 10ms;
  
}
.dropdown-container:hover ul{
max-height: 400px;
list-style: none;
background: $w;
padding: .75rem;
width: 52vh;
height: auto;
border-radius: 2.5rem;
border: solid 1px black;
}
